    <form class="answers-form" action="/answers" method="POST">
      <textarea rows="4" cols="50" name="answer[body]" placeholder="Type your answers here..."></textarea>
      <input type="hidden" name="answer[question_id]" value="<%= question.id %>">
      <input class="btn btn-white" type="submit" name="answer-button" value="Answer">
    </form>

    <button class="show-answers-form-button btn btn-white">Answer</button>
