    <% if current_user %>
      <form class="comments-form" action="/comments" method="POST">
        <textarea rows="4" cols="50" name="comment[body]" placeholder="Type your comments here..."></textarea>
        <input type="hidden" name="comment[commentable_id]" value="<%= commentable.id %>">
        <input type="hidden" name="comment[commentable_type]" value="<%= commentable.class %>">
        <input type="hidden" name="question_id" value="<%= question_id %>">
        <input type="submit" name="comment-button" value="Submit">
     </form>

       <button class="show-comments-form-button">Comment</button>
    <% end %>
