    <form class="comments-form" action="/comments" method="POST">
      <input type="text" name="comment[body]">
      <input type="hidden" name="comment[commentable_id]" value="<%= commentable.id %>">
      <input type="hidden" name="comment[commentable_type]" value="<%= commentable.class %>">
      <input type="hidden" name="question_id" value="<%= question_id %>">
      <input type="submit" name="comment-button" value="Comment">
    </form>

