<div class='contain'>
  <div class="form-wrap">
    <form id="question-form" action='/questions' method="POST">
      <input id="title" type='text' name='question[title]' placeholder="Title"/><br><br>
      <textarea id="body" type='text' name='question[body]' placeholder="Question" rows="8"/></textarea><br><br>
      <input id="tags" type='text' name='tags' placeholder="Tags"/><br><br>
      Note: Type list of tags separated by spaces<br><br>
      <input type='submit' value='Create Question'/>
    </form>

    <ul id="question-form-errors">
    </ul>
  </div>
</div>
