<div class='contain'>
<div class="form-wrap">

  <ul id="registration-errors">
  </ul>

  <form id="registration-form" action='/users' method="POST">
    <div class="text-field">
    <input id="name" type='text' name='user[name]'  required='required' placeholder="Name"/></div>
    <div class="text-field">
    <input id="email" type='text' name='user[email]' required='required' placeholder="Email"/></div>
    <div class="text-field">
    <input type='password' name='user[password]'  required='required' placeholder="password"/></div>
    <input type='submit' value='Sign Up'/>

  </form>
</div>

</div>
